.fiche {


  display: inline-block;
  margin-bottom: 3%;
  position: relative;
  vertical-align: top;
  width:28%;
  -moz-box-shadow: 0 0 2px rgba(245,245,245,1);
      -webkit-box-shadow: 0 0 2px rgba(245,245,245,1);
      box-shadow: 0 0 2px rgba(245,245,245,1);

}
.ficheContainer{
    margin-left : 4%;
background-color: white;
}
@media (max-width: 1350px){
  .fiche {
     width:40%;
  }
    .ficheContainer{
    margin-left : 6%;
    background-color: white;
    }
}
@media (max-width: 1050px){
  .fiche {
     width:50%;
     margin-left: 25%;
       display: inline-block;
         margin-top: 10px;
       margin-bottom: 20px;
  }
  .ficheContainer{
  margin-left : 25%;
  background-color: white;
  }
}
.fiche-unique {

   width:50%;

  display: inline-block;
    margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 25%;
  vertical-align: top;
  -moz-box-shadow: 0 0 2px rgba(245,245,245,1);
      -webkit-box-shadow: 0 0 2px rgba(245,245,245,1);
      box-shadow: 0 0 2px rgba(245,245,245,1);

}
.ficheContainer-unique{
margin-left : 25%;
background-color: white;
}
.separator{
   border-bottom :3px solid rgba(245,245,245,1);
}
.pad {
 padding-left: 20px;
}

.c3 g text {
font-size:2.0rem;
display:none;
}

.background{
margin-left : 10px;
margin-right : 10px;
background-color : rgba(245,245,245,1);
padding-top :10px;
}
.ficheTitle{
color: #676767 ;
}

.ficheTotal{
color:#006699 ;
}

.ficheTop{
color :#33CC99 ;

}

.ficheDown{
color: #FF9999 ;

}
.leaderboard-line-name {
vertical-align: top;
display:inline-block;
width:80%;
}
.leaderboard-line-value {
display:inline-block;
width:20%;

}
.titre{
font-size:125%;
padding-top : 5px;
padding-left :7px;
color: #676767 ;
}