@import models.authentication.User
@(currentUser :User)(implicit lang:Lang)

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import models.SuspectRow._


@main(Messages("home.header"))("d")(currentUser) {

<div class="page-header"style="margin-left:1em;">
    <h1>@Messages("home.title")</h1>
</div>


<div class="button-group filter-button-group-status">
    <button data-filter="*">Tous les etats</button>
    <button data-filter="DetectedOnly">@Messages("DetectedOnly")</button>
    <button data-filter="Solved">@Messages("Solved")</button>
    <button data-filter="BeingProcessed">@Messages("BeingProcessed")</button>
</div>

<div class="button-group filter-button-group-hierarchies">
    <select id="caisses-filter" data-filter="caisse"></select>
    <select id="groupes-filter"  data-filter="groupe"></select>
    <select id="agences-filter"  data-filter="agence"></select>
    <select id="pdvs-filter"  data-filter="pdv"></select>
</div>


<div id="content"></div>


<script src="@routes.Assets.versioned("javascripts/suspectRowsDisplay.js")" type="text/javascript"></script>



}