@(suspectRow:SuspectRow,editionValues:Form[EditionValues])(implicit lang:Lang)


@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import models.SuspectRow._


@main(Messages("home.header"))("") {
<div class="page-header">
    <h1>@Messages("home.title")</h1>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ><a href="/detected">@Messages("home.header.detectedOnly")</a></li>
    <li role="presentation" ><a href="/processed">@Messages("home.header.beingProcessed")</a></li>
    <li role="presentation" ><a href="/solved">@Messages("home.header.solved")</a></li>
</ul>


<div class="col-md-6">

    @form(routes.Application.saveEdition(suspectRow.id)) {
    <table class="table table-striped" class="display" cellspacing="10" width="100%">
        <thead>
        <tr>
            <th>@Messages("sr.parameters")</th>
            <th>@Messages("sr.values")</th>
            <th>@Messages("sr.edition")</th>
        </tr>
        </thead>
        <tbody>


        <tr>
            <th>@Messages("field.dates")</th>
            <td>@suspectRow.date</td>
            <td></td>
        </tr>
        <tr>
            <th>@Messages("field.caisse")</th>
            <td>@suspectRow.caisse</td>
            <td></td>
        </tr>
        <tr>
            <th>@Messages("field.groupe")</th>
            <td>@suspectRow.groupe</td>
            <td></td>
        </tr>
        <tr>
            <th>@Messages("field.agence")</th>
            <td>@suspectRow.agence</td>
            <td></td>
        </tr>
        <tr>
            <th>@Messages("field.pdv")</th>
            <td>@suspectRow.pdv</td>
            <td></td>
        </tr>
        <tr>
            <th>@Messages("field.metric")</th>
            <td>@suspectRow.metricName</td>
            <td></td>
        </tr>
        <tr>
            <th>@Messages("field.value")</th>
            <td>@suspectRow.value</td>
            <td></td>
        </tr>
        <tr>
            <th>@Messages("field.nature")</th>
            <td>@Messages(suspectRow.nature.toString)</td>
            <td>

                @inputRadioGroup(
                editionValues("nature"),
                options = Seq("NotSpecified"->Messages("NotSpecified"),"Abnormality"->Messages("Abnormality"), "NotAbnormality"-> Messages("NotAbnormality")),
                '_label -> Messages("field.nature"))

                </td>
        </tr>
        <tr>
            <th>@Messages("field.detectionDate")</th>
            <td>@suspectRow.firstDate</td>
            <td></td>
        </tr>
        <tr>
            <th>@Messages("field.status")</th>
            <td>@Messages(suspectRow.status.toString)</td>
            <td>

                @inputRadioGroup(
                editionValues("status"),
                options = Seq("Solved"->Messages("Solved"),"BeingProcessed"->Messages("BeingProcessed"), "DetectedOnly"-> Messages("DetectedOnly")),
                '_label -> Messages("field.status"))


                </td>
        </tr>
        <tr>
            <th>@Messages("field.comment")</th>
            <td>@suspectRow.comment</td>
            <td>

                @inputText(editionValues("comment"), '_label -> Messages("field.comment"))

                </td>
        </tr>
        <tr>
            <th>@Messages("field.admin")</th>
            <td>@suspectRow.admin</td>
            <td>

                @inputText(editionValues("admin"), '_label -> Messages("field.admin"))

                </td>
        </tr>
        <tr>
            <th>@Messages("field.reasonsForDetection")</th>
            <td>@suspectRow.reasonsForDetection.map(msg=>Messages(msg.toString)+'\n')</td>
            <td></td>
        </tr>

        </tbody>
    </table>

    <input type="submit" value="Save">}
</div>
</div>

}