@(suspectRow:SuspectRow,admin:Form[String])

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import models.SuspectRow._


@main("BPCE suspectRows") {
<div class="page-header">
    <h1>BPCE suspectRows Reporting</h1>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ><a href="/DetectedOnly">Detected Only</a></li>
    <li role="presentation"><a href="/BeingProcessed">Being Processed</a></li>
    <li role="presentation"><a href="/Solved">Solved</a></li>
</ul>

<h3>suspectRow</h3>
<div class="col-md-6">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>suspectRow Parameters</th>
            <th>Values</th>
            <th>Edition</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Dates</th>
            <td>@suspectRow.date</td>
            <td></td>
        </tr>
        <tr>
            <th>Caisse</th>
            <td>@suspectRow.caisse</td>
            <td></td>
        </tr>
        <tr>
            <th>Groupe</th>
            <td>@suspectRow.groupe</td>
            <td></td>
        </tr>
        <tr>
            <th>Agence</th>
            <td>@suspectRow.agence</td>
            <td></td>
        </tr>
        <tr>
            <th>Point de Vente</th>
            <td>@suspectRow.pdv</td>
            <td></td>
        </tr>
        <tr>
            <th>Metric</th>
            <td>@suspectRow.metric</td>
            <td></td>
        </tr>
        <tr>
            <th>Nature</th>
            <td>@suspectRow.nature.toString</td>
            <td> @form(routes.Application.editNature(suspectRow.id)) {
                <input type="submit" value="Edit">

                }</td>
        </tr>
        <tr>
            <th>First Date Detection</th>
            <td>@suspectRow.firstDate</td>
            <td></td>
        </tr>
        <tr>
            <th>Status</th>
            <td>@suspectRow.status.toString</td>
            <td> @form(routes.Application.editStatus(suspectRow.id)) {
                <input type="submit" value="Edit">

                }</td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>@suspectRow.comment</td>
            <td> @form(routes.Application.editComment(suspectRow.id)) {
                <input type="submit" value="Edit">

                }</td>
        </tr>
        <tr>
            <th>Admin</th>
            <td>@suspectRow.admin</td>
            <td>@form(routes.Application.saveEditionAdmin(suspectRow.id)) {


                @inputText(admin("new value"))

                <input type="submit" value="Edit">
                }</td>
        </tr>
        <tr>
            <th>Reasons for Detection</th>
            <td>@suspectRow.reasonsForDetection.mkString</td>
            <td></td>
        </tr>

        </tbody>
    </table>
</div>
</div>

}