@import models.authentication.User
@(suspectRow:SuspectRow,formatDa:String,editionValues:Form[EditionValues],currentUser :User)(implicit lang:Lang)


@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import models.SuspectRow._


@main(Messages("home.header"))("")(currentUser) {
<script src="@routes.Assets.versioned("javascripts/editDisplayValue.js")" type="text/javascript"></script>

@helper.form(action = routes.Application.saveEdition(suspectRow.id)) {

<section id="pricing-table" style="margin: auto;margin-left: 20%;">
    <div class="container">
        <div class="row">
            <div class="pricing">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing-table">


                        <div class="pricing-list">
                            <ul>
                                <li><i class="fa fa-calendar-times-o" style="padding-left :10px;"></i>@Messages("field.dates")<span> @suspectRow.date</span>
                                </li>
                                <li><i class="fa fa-university" style="padding-left :10px;"></i>@Messages("field.caisse")
                                    <span> @suspectRow.caisse</span>
                                </li>
                                <li><i class="fa fa-university" style="padding-left :10px;"></i>@Messages("field.groupe")
                                    <span> @suspectRow.groupe</span>
                                </li>
                                <li><i class="fa fa-university" style="padding-left :10px;"></i>@Messages("field.agence")
                                    <span> @suspectRow.agence</span>
                                </li>
                                <li><i class="fa fa-university" style="padding-left :10px;"></i>@Messages("field.pdv")
                                    <span> @suspectRow.pdv</span>
                                </li>
                                <li><i class="fa fa-tag" style="padding-left :10px;"></i>@Messages("field.metric")
                                    <span> @suspectRow.metric</span>
                                </li>
                                <li><i class="fa fa-signal" style="padding-left :10px;"></i>@Messages("field.value")
                                    <span id="value">@{formatDa+","+Math.ceil(suspectRow.value)}</span>
                                </li>
                                <li><i class="fa fa-calendar-times-o" style="padding-left :10px;"></i>@Messages("field.detectionDate")
                                    <span> @Messages(suspectRow.firstDate.toString)</span>
                                </li>
                                <li><i class="fa fa-times" style="padding-left :10px;"></i>@Messages("field.reasonsForDetection")
                                    <span> @suspectRow.reasonsForDetection.map(msg=>Messages(msg.toString)+'\n')</span>
                                </li>


                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing-table">


                        <div class="pricing-list">
                            <ul>


                                <li><i class="fa fa-question"></i>
                                    @inputRadioGroup(
                                    editionValues("nature"),
                                    options =
                                    Seq("NotSpecified"->Messages("NotSpecified"),"Abnormality"->Messages("Abnormality"),
                                    "NotAbnormality"-> Messages("NotAbnormality")),
                                    '_label -> Messages("field.nature"),'required -> Messages("input.required"))
                                </li>
                                <li><i class="fa fa-wrench"></i>
                                    @inputRadioGroup(
                                    editionValues("status"),
                                    options =
                                    Seq("Solved"->Messages("Solved"),"BeingProcessed"->Messages("BeingProcessed"),
                                    "DetectedOnly"-> Messages("DetectedOnly")),
                                    '_label -> Messages("field.status"),'required -> Messages("input.required"))
                                </li>
                                <li><i class="fa fa-pencil"></i><span> @inputText(editionValues("comment"), '_label ->
                                    Messages("field.comment"))</span>
                                </li>
                                <li><i class="fa fa-user"></i><span>@inputText(editionValues("admin"), '_label ->
                                    Messages("field.admin"))</span>
                                </li>
                                <li><input type="submit" class="btn btn-custom" value="Sauvegarder"
                                           style=" color: white;background-color: #253240;border-color: white;"></li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


}

}