@(suspectRowsTreated: List[SuspectRow],suspectRowsProcessing: List[SuspectRow],suspectRowsNotTreated: List[SuspectRow])

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import models.SuspectRow._


@main("BPCE errors") {
<script type="text/javascript" class="init">


<h1> suspectRow</h1>

<h2>Not Treated</h2>
<li>date caisse groupe agence pdv abnormalMetric errorType DetectionDate status comment admin</li>
<ul>
    @suspectRowsNotTreated.map { suspectRow =>


          <li> @suspectRow.date @suspectRow.caisse @suspectRow.groupe @suspectRow.agence @suspectRow.pdv @suspectRow.metric @suspectRow.nature.toString  n</li>




<h2>Processing</h2>
<li>date caisse groupe agence pdv abnormalMetric errorType DetectionDate status comment admin</li>
<ul>
    @suspectRowsProcessing.map { suspectRow =>


</script>
<h2>Not Treated</h2>
<table id="test" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Dates</th>
        <th>Caisse</th>
        <th>Groupe</th>
        <th>Agence</th>
        <th>Point de vente</th>
        <th>Suspected Metric</th>
        <th>Error Type</th>
        <th>Detection Date</th>
        <th>Status</th>
        <th>Comment</th>
        <th>Admin</th>
        <th>Reason for Detection</th>
    </tr>
    </thead>
    <tbody>

        @errorsNotTreated.map { error =>
        <tr>
            <td>@error.date</td>
            <td>@error.caisse</td>
            <td>@error.groupe</td>
            <td>@error.agence</td>
            <td>@error.pdv</td>
            <td>@error.metric</td>
            <td>@error.errorType</td>
            <td>@error.firstDate</td>
            <td>@error.status</td>
            <td>@error.comment</td>
            <td>@error.admin</td>
            <td>@error.reasonForDetection</td>
        </tr>
        }


    </tbody>
</table>


    <li> @suspectRow.date @suspectRow.caisse @suspectRow.groupe @suspectRow.agence @suspectRow.pdv @suspectRow.metric @suspectRow.nature.toString  n</li>


    @errorsProcessing.map { error =>
    <tr>
        <td>@error.date</td>
        <td>@error.caisse</td>
        <td>@error.groupe</td>
        <td>@error.agence</td>
        <td>@error.pdv</td>
        <td>@error.metric</td>
        <td>@error.errorType</td>
        <td>@error.firstDate</td>
        <td>@error.status</td>
        <td>@error.comment</td>
        <td>@error.admin</td>
        <td>@error.reasonForDetection</td>
    </tr>
    }


<h2>Treated</h2>
<li>date caisse groupe agence pdv abnormalMetric errorType DetectionDate status comment admin</li>
<ul>
    @suspectRowsTreated.map { suspectRow =>


    </tbody>
</table>


    <li> @suspectRow.date @suspectRow.caisse @suspectRow.groupe @suspectRow.agence @suspectRow.pdv @suspectRow.metric @suspectRow.nature.toString  n</li>


    @errorsTreated.map { error =>
    <tr>
        <td>@error.date</td>
        <td>@error.caisse</td>
        <td>@error.groupe</td>
        <td>@error.agence</td>
        <td>@error.pdv</td>
        <td>@error.metric</td>
        <td>@error.errorType</td>
        <td>@error.firstDate</td>
        <td>@error.status</td>
        <td>@error.comment</td>
        <td>@error.admin</td>
        <td>@error.reasonForDetection</td>
    </tr>
    }


    </tbody>
</table>

}
