@(suspectRowsTreated: List[SuspectRow],suspectRowsProcessing: List[SuspectRow],suspectRowsNotTreated: List[SuspectRow])

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import models.SuspectRow._


@main("BPCE errors") {



<h1> suspectRow</h1>

<h2>Treated</h2>
<li>date caisse groupe agence pdv abnormalMetric errorType DetectionDate status comment admin</li>
<ul>
    @suspectRowsTreated.map { suspectRow =>


          <li> @suspectRow.date @suspectRow.caisse @suspectRow.groupe @suspectRow.agence @suspectRow.pdv @suspectRow.metric @suspectRow.nature.toString  @suspectRow.reasonsForDetection.toString n</li>}

</ul>

<h2>Processing</h2>
<li>date caisse groupe agence pdv abnormalMetric errorType DetectionDate status comment admin</li>
<ul>
    @suspectRowsProcessing.map { suspectRow =>


          <li> @suspectRow.date @suspectRow.caisse @suspectRow.groupe @suspectRow.agence @suspectRow.pdv @suspectRow.metric @suspectRow.nature.toString @suspectRow.reasonsForDetection.toString n</li>}
</ul>

<h2>Not Treated</h2>
<li>date caisse groupe agence pdv abnormalMetric errorType DetectionDate status comment admin</li>
<ul>
    @suspectRowsNotTreated.map { suspectRow =>


          <li> @suspectRow.date @suspectRow.caisse @suspectRow.groupe @suspectRow.agence @suspectRow.pdv @suspectRow.metric @suspectRow.nature.toString @suspectRow.reasonsForDetection.toString n</li>}
            </ul>
 }