@import models.authentication.User
@(title: String)(selected : String)(currentUser :User)(content: Html)(implicit lang:Lang)

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import repositories.StateRepository

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@title</title>

    <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">


    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <link href="@routes.Assets.versioned("stylesheets/profile.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/bootstrap-select.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/custom-navbar.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/animation.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/table.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/tile.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/custom-navbar.css")" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>







    <script src="@routes.Assets.versioned("javascripts/jquery-2.1.4.min.js")" type="text/javascript"></script>

    <script src="@routes.Assets.versioned("javascripts/lodash.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/isotope.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/stateUpdater.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/animation.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/designProfile.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap-select.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/sprintf.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>



</head>
<body>


<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " >
                <img   class ="inverted"  src="@routes.Assets.versioned("images/logo.svg")" />
            </a>
        </div>
        <!-- Non-collapsing right-side icons -->

        <div class="collapse navbar-collapse navbar-right"  id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li  > <a id="state">  </a> </li>
                @if(selected =="t" ){<li class="active">}else {<li>}
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class ="glyphicon glyphicon-user"></span>@("       "+currentUser.firstName+" "+currentUser.lastName) <span class="glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu" style="background-color: #253240; color :white;">
                    <li><a style="background-color: #253240; color :white;" onclick="href='/myprofile/@currentUser.id';">@Messages("user.profile")</a></li>
                    <li><a style="background-color: #253240; color :white;"  href="/logout">@Messages("menu.logout") @("("+currentUser.firstName+")")</a></li>

                </ul>
        </div>

        <!-- the collapsing menu -->
        <div class="collapse navbar-collapse navbar-left"  id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                @if(selected =="d" ){<li class="active white">} else {<li>}<a href="/all">@Messages("menu.data")</a></li>
                @if(selected =="t" ){<li class="active">}else {<li>}<a href="/owntasks">@Messages("user.tasks")</a></li>
                @if(selected =="cr" ){<li class="active">}else {<li>}<a href="/dashboard">@Messages("dashboard.title")</a></li>
                @if(selected =="u" ){<li class="dropdown active">} else {<li class="dropdown">}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Messages("menu.users") <span class="glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu"  style="background-color: #253240; color :white;">
                    <li><a  style="background-color: #253240; color :white;" href="/newuser">@Messages("menu.add")</a></li>
                    <li><a  style="background-color: #253240; color :white;" href="/users">@Messages("menu.list")</a></li>
                </ul>
            </li>
                @if(selected =="c" ){<li class="active">}else {<li>} <a href="/configuration">@Messages("menu.configuration")</a></li>






            </ul>


        </div>

        <ul class="nav navbar-nav navbar-right ">
            <li  > <a id="state">  </a> </li>

        </ul>
        <!--/.nav-collapse -->
    </div>
</nav>




@content
</body>
</html>