@import models.authentication.User
@import repositories.CodeMetricWithoutId
@(currentUser :User)(implicit lang:Lang)

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._


@main(Messages("home.header"))("c")(currentUser){
<div class="page-header" style="margin-left:1em;">
    <h1>@Messages("metric.title")</h1>

</div>
<div>

    <form action="@routes.Application.data()" method="get" style="margin-left:1em;">

        <input type="submit" value=@Messages("menu.refresh")>
    </form>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="page-header" style="margin-left:1em;">
            <h2>@Messages("metric.unused")</h2>
        </div>
        <script type="text/javascript" class="init">
            $(document).ready(function() {
	        oTable=$('#MetricsUnused').DataTable(
	        {    "ajax": '../configuration/unused',
	             "order": [[ 0, "asc" ]],
                 "columnDefs": [

                                ],
                 "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                     $(nRow).click (function()  {
                         nRow.setAttribute("code",aData[0]);
                         document.location.href = "/configuration/add/" + aData[0];
                     })
                 }
            }
	        );


            } );

        </script>

        <table id="MetricsUnused" class="display" cellspacing="0" width="99%" style="margin-left:0.5em;">
            <thead>
            <tr>

                <th>@Messages("metric.metric")</th>
                <th>@Messages("metric.name")</th>

            </tr>
            </thead>


        </table>
        <div class="margin"></div>


    </div>
    <div class="col-md-6">
        <div class="page-header" style="margin-left:1em;">
            <h2>@Messages("metric.used")</h2>
        </div>
        <script type="text/javascript" class="init">
            $(document).ready(function() {
	        oTable=$('#MetricsUsed').DataTable(
	        {    "ajax": '../configuration/used',
	             "order": [[ 0, "asc" ]],
                 "columnDefs": [

                                ],
                 "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                     $(nRow).click (function()  {
                         nRow.setAttribute("code",aData[0]);
                         document.location.href = "/configuration/remove/" + aData[0];
                     })
                 }
            }
	        );
            } );

        </script>

        <table id="MetricsUsed" class="display" cellspacing="0" width="99%">
            <thead>
            <tr>

                <th>@Messages("metric.metric")</th>
                <th>@Messages("metric.name")</th>


            </tr>
            </thead>


        </table>
    </div>
</div>


}