@import models.authentication.User
@(suspectRow:SuspectRow,currentUser :User)(implicit lang:Lang)

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import models.SuspectRow._


@main(Messages("home.header"))("")(currentUser) {
<!--<div class="page-header" style="margin-left:1em;">
    <h1>@Messages("home.title")</h1>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ><a href="/detected">@Messages("home.header.detectedOnly")</a></li>
    <li role="presentation" ><a href="/processed">@Messages("home.header.beingProcessed")</a></li>
    <li role="presentation" ><a href="/solved">@Messages("home.header.solved")</a></li>
</ul>



<div class="col-md-6 "style="margin-left:50%x;width:auto">
    <table class="table table-striped" >
        <thead>
        <tr>
            <th>@Messages("sr.parameters")</th>
            <th>@Messages("sr.values")</th>

        </tr>
        </thead>
        <tbody class="gradeA" onclick="window.location.href='/edition/@suspectRow.id';">
        <tr>
            <th>@Messages("field.dates")</th>
            <td>@suspectRow.date</td>

        </tr>
        <tr>
            <th>@Messages("field.caisse")</th>
            <td>@suspectRow.caisse</td>

        </tr>
        <tr>
            <th>@Messages("field.groupe")</th>
            <td>@suspectRow.groupe</td>

        </tr>
        <tr>
            <th></th>
            <td>@suspectRow.agence</td>

        </tr>
        <tr>
            <th>@Messages("field.pdv")</th>
            <td>@suspectRow.pdv</td>

        </tr>
        <tr>
            <th>@Messages("field.metric")</th>
            <td>@suspectRow.metricName</td>@Messages("field.agence")

        </tr>
        <tr>
            <th>@Messages("field.value")</th>
            <td>@Math.ceil(suspectRow.value)</td>

        </tr>
        <tr>
            <th>@Messages("field.nature")</th>
            <td>@Messages(suspectRow.nature.toString)</td>

        </tr>
        <tr>
            <th>@Messages("field.detectionDate")</th>
            <td>@suspectRow.firstDate</td>

        </tr>
        <tr>
            <th>@Messages("field.status")</th>
            <td>@Messages(suspectRow.status.toString)</td>

        </tr>
        <tr>
            <th>@Messages("field.comment")</th>
            <td>@suspectRow.comment</td>

        </tr>
        <tr>
            <th>@Messages("field.admin")</th>
            <td>@suspectRow.admin</td>

        </tr>
        <tr>
            <th>@Messages("field.reasonsForDetection")</th>
            <td>@suspectRow.reasonsForDetection.map(msg=>Messages(msg.toString)+'\n')</td>

        </tr>

        </tbody>
    </table>


</div>

<div>
    @form(routes.Application.edit(suspectRow.id)) {

    <input type="submit" value=@Messages("edit.edit")>}

</div>-->
<section id="pricing-table" style="margin: auto;margin-left: 20%;">
    <div class="container">
        <div class="row">
            <div class="pricing">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing-table">
                        <div class="pricing-header"  style =" background-color:#253240">
                            <p class="pricing-title">Caractéristiques de la rupture</p>


                        </div>

                        <div class="pricing-list">
                            <ul>
                                <li><i class="fa fa-clock"></i><span>@Messages("field.dates")</span> @suspectRow.date</li>
                                <li><i class="fa fa-signal"></i><span>@Messages("field.caisse")</span> @suspectRow.caisse</li>
                                <li><i class="fa fa-user"></i><span>@Messages("field.groupe")</span> @suspectRow.groupe</li>
                                <li><i class="fa fa-smile-o"></i><span>@Messages("field.agence")</span> @suspectRow.agence</li>
                                <li><i class="fa fa-envelope"></i><span>@Messages("field.pdv")</span> @suspectRow.pdv</li>
                                <li><i class="fa fa-signal"></i><span>@Messages("field.metric")</span> @suspectRow.metric</li>
                                <li><i class="fa fa-user"></i><span>@Messages("field.value")</span> @suspectRow.value</li>
                                <li><i class="fa fa-smile-o"></i><span>@Messages("field.detectionDate")</span> @Messages(suspectRow.status.toString)</li>



                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing-table">
                        <div class="pricing-header"  style =" background-color:#253240">
                            <p class="pricing-title">Gérer la rupture</p>

                            <p style="color: white">@suspectRow.reasonsForDetection.map(msg=>Messages(msg.toString)+'\n')</p>
                            <a href="/edition/@suspectRow.id" class="btn btn-custom" style="color: white;background-color: #253240;border-color: white;">@Messages("edit.edit")</a>

                        </div>

                        <div class="pricing-list">
                            <ul>


                                <li><i class="fa fa-user"></i><span>@Messages("field.nature")</span> @suspectRow.nature</li>
                                <li><i class="fa fa-envelope"></i><span>@Messages("field.status")</span> @suspectRow.status</li>
                                <li><i class="fa fa-signal"></i><span>@Messages("field.comment")</span> @suspectRow.comment</li>
                                <li><i class="fa fa-user"></i><span>@Messages("field.admin")</span> @suspectRow.admin</li>


                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

}