@(suspectRow:SuspectRow)(implicit lang:Lang)

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import models.SuspectRow._


@main(Messages("home.header")) {
<div class="page-header">
    <h1>@Messages("home.title")</h1>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ><a href="/DetectedOnly">@Messages("home.header.detectedOnly")</a></li>
    <li role="presentation" ><a href="/BeingProcessed">@Messages("home.header.beingProcessed")</a></li>
    <li role="presentation" ><a href="/Solved">@Messages("home.header.solved")</a></li>
</ul>



<div class="col-md-6">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>@Messages("sr.parameters")</th>
            <th>@Messages("sr.values")</th>

        </tr>
        </thead>
        <tbody class="gradeA" onclick="window.location.href='/Edition/@suspectRow.id';">
        <tr>
            <th>@Messages("field.dates")</th>
            <td>@suspectRow.date</td>

        </tr>
        <tr>
            <th>@Messages("field.caisse")</th>
            <td>@suspectRow.caisse</td>

        </tr>
        <tr>
            <th>@Messages("field.groupe")</th>
            <td>@suspectRow.groupe</td>

        </tr>
        <tr>
            <th>@Messages("field.agence")</th>
            <td>@suspectRow.agence</td>

        </tr>
        <tr>
            <th>@Messages("field.pdv")</th>
            <td>@suspectRow.pdv</td>

        </tr>
        <tr>
            <th>@Messages("field.metric")</th>
            <td>@suspectRow.metric</td>

        </tr>
        <tr>
            <th>@Messages("field.nature")</th>
            <td>@Messages(suspectRow.nature.toString)/td>

        </tr>
        <tr>
            <th>@Messages("field.detectionDate")</th>
            <td>@suspectRow.firstDate</td>

        </tr>
        <tr>
            <th>@Messages("field.status")</th>
            <td>@Messages(suspectRow.status.toString)</td>

        </tr>
        <tr>
            <th>@Messages("field.comment")</th>
            <td>@suspectRow.comment</td>

        </tr>
        <tr>
            <th>@Messages("field.admin")</th>
            <td>@suspectRow.admin</td>

        </tr>
        <tr>
            <th>@Messages("field.reasonsForDetection")</th>
            <td>@suspectRow.reasonsForDetection.map(msg=>Messages(msg.toString)+'\n')</td>

        </tr>

        </tbody>
    </table>

    @form(routes.Application.edit(suspectRow.id)) {
    <input type="submit" value="Edit">}
</div>
</div>

}